<!-- <form accept-charset="UTF-8" action="/sessions/create" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="6uGWk85/gkZvi4qmkUiHFdjV7p6Kp44/scK4UaRYRmM="></div>
  
    <div class="field"><label for="user_name">Select your name</label><br>
      <select id="user_id" name="user[id]"><option value="18"></option>
    </div>
  
    <div class="actions">
      <input name="commit" type="submit" value="Sign In">
    </div>
  </form> -->


<%= form_for @user, url: signin_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <!-- <%= f.label :name, "Select your name" %> # Approximates sample page --> 
  <!-- <%= f.select :name, User.pluck(:name), { multiple: true, size: 9 } %> <br> # Approximates the sample page  -->
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit 'Sign In' %>
  <%= button_to 'Sign up', signup_path %>
<% end %>
  
  
  